  <aside class="bg-dark" id="buynow">
    <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Choose your Gunbot plan</h2>
              <hr class="primary">
              <p>Get started today and buy a life time Gunbot license. Includes video tutorials and support from Gunbot School to get up and running quickly.</p>
              <p>All plans are life time: no recurring costs. Prices in Bitcoin.</p>
          </div>
      </div>

      <div class="row wrapper">
        <div class="package col-lg-3 col-md-6 text-center">
          <div class='packagename'>Starter</div>
          <div class='price'>
              <span class="currentPrice">Ƀ 0.0100</span>
              <span class="oldPrice">Ƀ 0.0400</span>
          </div>
          <div class='packageinfo'>Entry level trading bot, with a limited number of strategy options.            
          </div>

          <div class="packagecta"><a title="Join Gunbot community" href="https://otc.gunthy.org/magicdude4eva/promoStarter" class="btn btn-info btn-l wow tada" style="width:150px">Buy Starter</a></div>
          <ul>
              <li data-toggle="tooltip" data-placement="top" title="Use Gunbot to trade on one supported exchange. Has 1 API slot"> For 1 exchange</li>
              <li data-toggle="tooltip" data-placement="top" title="No limit on the number of trading pairs, like USD-BTC or BTC-LTC, you can simultaneously trade"> <b>Unlimited</b> trading pairs</li>
              <li data-toggle="tooltip" data-placement="top" title="You can use the following strategies: gain, bbta and emotionless"> 3 Strategies</li>
              <li data-toggle="tooltip" data-placement="top" title="Thanks to the API slot system you always control on which exchange you use your bot. Switching to another exchange or API key is easy and free"> Switch exchange anytime</li>
              <li data-toggle="tooltip" data-placement="top" title="Gunbot uses a blockchain based license system. It uses a utility token called Gunthy on the Ethereum blockchain. Each license comes with a free number of tokens, which need to be held in the wallet address you register during your purchase"> <b>200</b> Gunthy tokens</li>
              <li class="not" data-toggle="tooltip" data-placement="top" title="Gunbot uses live calculated Indicators like ADX, RSI, Stoch (and many more) to further restrict the trading criteria of your trading strategy."> Confirming Indicators</li>
              <li class="not" data-toggle="tooltip" data-placement="top" title="Trailing the price gives you the possibility to enter and/or exit at a better point as it follows the price trend until trend change."> Additional trailing</li>
              <li class="not" data-toggle="tooltip" data-placement="top" title="Dollar cost averaging, or DCA, automatically average down assets after a sudden price drop after a regular buy order."> Dollar Cost Averaging</li>
              <li class="not" data-toggle="tooltip" data-placement="top" title="A Gunbot exclusive, Reversal Trading is a technique to keep on trading profitably when prices move downwards after an asset has been purchased."> Reversal Trading</li>
              <li class="not" data-toggle="tooltip" data-placement="top" title="A unique feature that lets you automate config changes from adding pairs to changing strategy parameters"> AutoConfig</li>
              <li class="not" data-toggle="tooltip" data-placement="top" title="Margin Trading on BitMex, KrakenFutures, BinanceFutures, Kumex and more"> Supports Margin Trading</li>
              <li class="not" data-toggle="tooltip" data-placement="top" title="Evaluate your strategy before you run it. Backtest almost any Gunbot strategy option on tradingview.com"> Backtesting add-on</li>
              <li class="not" data-toggle="tooltip" data-placement="top" title="Use Gunbot to execute trading alerts sent from a custom strategy at TradingView. It works by listening to incoming emails from TradingView, when an alert comes in Gunbot will immediately execute it"> TradingView add-on</li>
              <li data-toggle="tooltip" data-placement="top" title="Learn how to get up and running with a short video course. Gunbot School offers a growing number of courses to help with setting up and configuring your bot"> Gunbot School</li>
              <li data-toggle="tooltip" data-placement="top" title="Get help fast whenever you need it. It doesn't matter if you have a basic setup problem or an advanced strategy question, we're here to help"> Chat & email support</li>
          </ul>
        </div>

        <div class="package col-lg-3 col-md-6 text-center">
          <div class='packagename'>Standard</div>
          <div class='price'>
            <span class="currentPrice">Ƀ 0.0250</span>
            <span class="oldPrice">Ƀ 0.1000</span>
          </div>
          <div class='packageinfo'>Everything you need to get started with bot trading on a single exchange.
          </div>
          
          <div class="packagecta"><a title="Join Gunbot community" href="https://otc.gunthy.org/magicdude4eva/promoStandard" class="btn btn-primary btn-l wow tada" style="width:150px">Buy Standard</a></div>
          <ul>
              <li data-toggle="tooltip" data-placement="top" title="Use Gunbot to trade on one supported exchange. Has 1 API slot"> For 1 exchange</li>
              <li data-toggle="tooltip" data-placement="top" title="No limit on the number of trading pairs, like USD-BTC or BTC-LTC, you can simultaneously trade"> <b>Unlimited</b> trading pairs</li>
              <li data-toggle="tooltip" data-placement="top" title="Includes all Gunbot strategy options"> <b>All</b> Strategies</li>
              <li data-toggle="tooltip" data-placement="top" title="Thanks to the API slot system you always control on which exchange you use your bot. Switching to another exchange or API key is easy and free"> Switch exchange anytime</li>
              <li data-toggle="tooltip" data-placement="top" title="Gunbot uses a blockchain based license system. It uses a utility token called Gunthy on the Ethereum blockchain. Each license comes with a free number of tokens, which need to be held in the wallet address you register during your purchase"> <b>500</b> Gunthy tokens</li>
              <li data-toggle="tooltip" data-placement="top" title="Gunbot uses live calculated Indicators like ADX, RSI, Stoch (and many more) to further restrict the trading criteria of your trading strategy."> Confirming Indicators</li>
              <li data-toggle="tooltip" data-placement="top" title="Trailing the price gives you the possibility to enter and/or exit at a better point as it follows the price trend until trend change."> Additional trailing</li>
              <li data-toggle="tooltip" data-placement="top" title="Dollar cost averaging, or DCA, automatically average down assets after a sudden price drop after a regular buy order."> Dollar Cost Averaging</li>
              <li data-toggle="tooltip" data-placement="top" title="A Gunbot exclusive, Reversal Trading is a technique to keep on trading profitably when prices move downwards after an asset has been purchased."> Reversal Trading</li>
              <li data-toggle="tooltip" data-placement="top" title="A unique feature that lets you automate config changes from adding pairs to changing strategy parameters"> AutoConfig</li>
              <li data-toggle="tooltip" data-placement="top" title="Margin Trading on BitMex, KrakenFutures, BinanceFutures, Kumex and more"> Supports Margin Trading</li>
              <li class="not" data-toggle="tooltip" data-placement="top" title="Evaluate your strategy before you run it. Backtest almost any Gunbot strategy option on tradingview.com"> Backtesting add-on</li>
              <li class="not" data-toggle="tooltip" data-placement="top" title="Use Gunbot to execute trading alerts sent from a custom strategy at TradingView. It works by listening to incoming emails from TradingView, when an alert comes in Gunbot will immediately execute it"> TradingView add-on</li>
              <li data-toggle="tooltip" data-placement="top" title="Learn how to get up and running with a short video course. Gunbot School offers a growing number of courses to help with setting up and configuring your bot"> Gunbot School</li>
              <li data-toggle="tooltip" data-placement="top" title="Get help fast whenever you need it. It doesn't matter if you have a basic setup problem or an advanced strategy question, we're here to help"> Chat & email support</li>
          </ul>
        </div>

      <div class="package brilliant col-lg-3 col-md-6 text-center">
          <div class='packagename'>Pro</div>
          <div class='price'>
            <span class="currentPrice">Ƀ 0.0375</span>
            <span class="oldPrice">Ƀ 0.1500</span>
          </div>
          <div class='packageinfo'>For demanding traders on multiple exchanges. With backtesting.
          </div>
          
          <div class="packagecta"><a title="Join Gunbot community" href="https://otc.gunthy.org/magicdude4eva/promoPro" class="btn btn-success btn-l wow tada" style="width:150px">Buy Pro</a></div>
          <ul>
              <li data-toggle="tooltip" data-placement="top" title="Use Gunbot to trade simultaneously on 3 supported exchanges. Has 3 API slots"> For <b>3</b> exchanges</li>
              <li data-toggle="tooltip" data-placement="top" title="No limit on the number of trading pairs, like USD-BTC or BTC-LTC, you can simultaneously trade"> <b>Unlimited</b> trading pairs</li>
              <li data-toggle="tooltip" data-placement="top" title="Includes all Gunbot strategy options"> <b>All</b> Strategies</li>
              <li data-toggle="tooltip" data-placement="top" title="Thanks to the API slot system you always control on which exchange you use your bot. Switching to another exchange or API key is easy and free"> Switch exchange anytime</li>
              <li data-toggle="tooltip" data-placement="top" title="Gunbot uses a blockchain based license system. It uses a utility token called Gunthy on the Ethereum blockchain. Each license comes with a free number of tokens, which need to be held in the wallet address you register during your purchase"> <b>750</b> Gunthy tokens</li>
              <li data-toggle="tooltip" data-placement="top" title="Gunbot uses live calculated Indicators like ADX, RSI, Stoch (and many more) to further restrict the trading criteria of your trading strategy."> Confirming Indicators</li>
              <li data-toggle="tooltip" data-placement="top" title="Trailing the price gives you the possibility to enter and/or exit at a better point as it follows the price trend until trend change."> Additional trailing</li>
              <li data-toggle="tooltip" data-placement="top" title="Dollar cost averaging, or DCA, automatically average down assets after a sudden price drop after a regular buy order."> Dollar Cost Averaging</li>
              <li data-toggle="tooltip" data-placement="top" title="A Gunbot exclusive, Reversal Trading is a technique to keep on trading profitably when prices move downwards after an asset has been purchased."> Reversal Trading</li>
              <li data-toggle="tooltip" data-placement="top" title="A unique feature that lets you automate config changes from adding pairs to changing strategy parameters"> AutoConfig</li>
              <li data-toggle="tooltip" data-placement="top" title="Margin Trading on BitMex, KrakenFutures, BinanceFutures, Kumex and more"> Supports Margin Trading</li>
              <li data-toggle="tooltip" data-placement="top" title="Evaluate your strategy before you run it. Backtest almost any Gunbot strategy option on tradingview.com"> Backtesting add-on</li>
              <li class="not" data-toggle="tooltip" data-placement="top" title="Use Gunbot to execute trading alerts sent from a custom strategy at TradingView. It works by listening to incoming emails from TradingView, when an alert comes in Gunbot will immediately execute it"> TradingView add-on</li>
              <li data-toggle="tooltip" data-placement="top" title="Learn how to get up and running with a short video course. Gunbot School offers a growing number of courses to help with setting up and configuring your bot"> Gunbot School</li>
              <li data-toggle="tooltip" data-placement="top" title="Get help fast whenever you need it. It doesn't matter if you have a basic setup problem or an advanced strategy question, we're here to help"> Chat & email support</li>
          </ul>
      </div>

      <div class="package col-lg-3 col-md-6 text-center">
          <div class='packagename'>Ultimate</div>
          <div class='price'>
            <span class="currentPrice">Ƀ 0.0625</span>
            <span class="oldPrice">Ƀ 0.2500</span>
          </div>
          <div class='packageinfo'>No compromises: maximum number of API slots and access to all add-ons
          </div>
          
          <div class="packagecta"><a title="Join Gunbot community" href="https://otc.gunthy.org/magicdude4eva/promoUltimate" class="btn btn-warning btn-l wow tada" style="width:150px">Buy Ultimate</a></div>
          <ul>
              <li data-toggle="tooltip" data-placement="top" title="Use Gunbot to trade simultaneously on 5 supported exchanges. Has 5 API slots."> For <b>5</b> exchanges</li>
              <li data-toggle="tooltip" data-placement="top" title="No limit on the number of trading pairs, like USD-BTC or BTC-LTC, you can simultaneously trade"> <b>Unlimited</b> trading pairs</li>
              <li data-toggle="tooltip" data-placement="top" title="Includes all Gunbot strategy options"> <b>All</b> Strategies</li>
              <li data-toggle="tooltip" data-placement="top" title="Thanks to the API slot system you always control on which exchange you use your bot. Switching to another exchange or API key is easy and free"> Switch exchange anytime</li>
              <li data-toggle="tooltip" data-placement="top" title="Gunbot uses a blockchain based license system. It uses a utility token called Gunthy on the Ethereum blockchain. Each license comes with a free number of tokens, which need to be held in the wallet address you register during your purchase"> <b>1250</b> Gunthy tokens</li>
              <li data-toggle="tooltip" data-placement="top" title="Gunbot uses live calculated Indicators like ADX, RSI, Stoch (and many more) to further restrict the trading criteria of your trading strategy."> Confirming Indicators</li>
              <li data-toggle="tooltip" data-placement="top" title="Trailing the price gives you the possibility to enter and/or exit at a better point as it follows the price trend until trend change."> Additional trailing</li>
              <li data-toggle="tooltip" data-placement="top" title="Dollar cost averaging, or DCA, automatically average down assets after a sudden price drop after a regular buy order."> Dollar Cost Averaging</li>
              <li data-toggle="tooltip" data-placement="top" title="A Gunbot exclusive, Reversal Trading is a technique to keep on trading profitably when prices move downwards after an asset has been purchased."> Reversal Trading</li>
              <li data-toggle="tooltip" data-placement="top" title="A unique feature that lets you automate config changes from adding pairs to changing strategy parameters"> AutoConfig</li>
              <li data-toggle="tooltip" data-placement="top" title="Margin Trading on BitMex, KrakenFutures, BinanceFutures, Kumex and more"> Supports Margin Trading</li>
              <li data-toggle="tooltip" data-placement="top" title="Evaluate your strategy before you run it. Backtest almost any Gunbot strategy option on tradingview.com"> Backtesting add-on</li>
              <li data-toggle="tooltip" data-placement="top" title="Use Gunbot to execute trading alerts sent from a custom strategy at TradingView. It works by listening to incoming emails from TradingView, when an alert comes in Gunbot will immediately execute it"> TradingView add-on</li>
              <li data-toggle="tooltip" data-placement="top" title="Learn how to get up and running with a short video course. Gunbot School offers a growing number of courses to help with setting up and configuring your bot"> Gunbot School</li>
              <li data-toggle="tooltip" data-placement="top" title="Get help fast whenever you need it. It doesn't matter if you have a basic setup problem or an advanced strategy question, we're here to help"> Chat & email support</li>
          </ul>
      </div>
      </div>

      <div class="container" style="margin-top:50px">
        <div class="row">
            <div class="col-lg-12">
                <p><span style="width:230px;display:inline-block">Upgrade from <b>Starter to: </b></span>
                  <a title="Join Gunbot community" href="https://otc.gunthy.org/magicdude4eva/promoStarterTopromoStandard" class="btn btn-info btn-l wow tada" style="width:200px;margin-left:20px">Standard (Ƀ 0.0150)</a>
                  <a title="Join Gunbot community" href="https://otc.gunthy.org/magicdude4eva/promoStarterTopromoPro" class="btn btn-primary btn-l wow tada" style="width:200px;margin-left:20px">Pro (Ƀ 0.0275)</a>
                  <a title="Join Gunbot community" href="https://otc.gunthy.org/magicdude4eva/promoStarterTopromoUltimate" class="btn btn-success btn-l wow tada" style="width:200px;margin-left:20px">Ultimate (Ƀ 0.0525)</a>                    
                </p>

                <p><span style="width:230px;display:inline-block">Upgrade from <b>Standard to: </b></span>
                  <a title="Join Gunbot community" href="https://otc.gunthy.org/magicdude4eva/promoStandardTopromoPro" class="btn btn-primary btn-l wow tada" style="width:200px;margin-left:20px">Pro (Ƀ 0.0125)</a>
                  <a title="Join Gunbot community" href="https://otc.gunthy.org/magicdude4eva/promoStandardTopromoUltimate" class="btn btn-success btn-l wow tada" style="width:200px;margin-left:20px">Ultimate (Ƀ 0.0375)</a>
                </p>
            </div>
        </div>
      </div>      

    </div>
  </aside>
