<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6" >
                <h2 class="section-heading">Powerful, easy to use trading bot</h2>
                <p class="text-faded">Generate profits by automatically executing your trading strategies. What sets Gunbot apart from other bots are the innovative strategies, speed, extreme flexibility and awesome user community.</p>

                <p><h3><i class="fas fa-desktop wow bounceIn" data-wow-delay=".1s"></i> Runs on your own computer</h3>
                No need to trust a cloud service. Gunbot fully runs on your own system: Windows, macOS, Linux, Raspberry Pi or Docker.
                </p>

                <p><h3><i class="fas fa-chess-queen wow bounceIn" data-wow-delay=".1s"></i> Strategy presets for beginners</h3>
                New to trading? Tried and tested trading strategy presets make it easy to get started.
                </p>

                <p><h3><i class="fas fa-robot wow bounceIn" data-wow-delay=".1s"></i> Automated trading</h3>
                Gunbot supports automated trading on spot and margin exchanges. You can use both trends following as mean reversal based strategies. Full customization possible by executing trades through TradingView alerts.
                </p>
    
                <p><h3><i class="fas fa-terminal wow bounceIn" data-wow-delay=".1s"></i> No limits for power users</h3>
                Unlimited bot instances, JSON based config, automated config changes. Gunbot allows you to go crazy.
                </p>

                <p><h3><i class="fas fa-user-secret wow bounceIn" data-wow-delay=".1s"></i> Your privacy matters</h3>
                We’re as privacy friendly as it gets: your trading data stays between you and your exchange, no API secrets are centrally saved and nothing gets shared with third parties.
                </p>
                    
                <p><h3><i class="fas fa-download wow bounceIn" data-wow-delay=".1s"></i> Free updates</h3>
                Gunbot software updates are free. No subscription, just a one time license fee. Unlike other tools, Gunbot is not a subscription service and charges zero markup on trades.
                </p>
            </div>

            <div class="col-lg-6 text-center">
                <img src="/assets/img/pnl-large.png" alt="Easily create a custom trading strategy" width="640px" height="774px">
            </div>
        </div>
    </div>
</section>
