<section id="contact" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Want to know more about Gunbot? Get in touch.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-lg-offset-1 text-center">
                <a href="mailto:{{ site.email }}" title="Contact Gunbot.at via email" target="_blank">
                <i class="far fa-envelope-open fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{% email site.email %}</p>
                </a>
            </div>
            <div class="col-lg-3 col-lg-offset-1 text-center">
                <a href="https://t.me/{{ site.telegram }}" title="Contact Gunbot.at on Telegram" target="_blank">
                <i class="fab fa-telegram fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.telegram }}</p>
                </a>
            </div>
            <div class="col-lg-3 col-lg-offset-1 text-center">
                <a href="https://github.com/{{ site.github_username }}" title="View our Github Repo" target="_blank">
                <i class="fab fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.github_username }}</p>
                </a>
            </div>
        </div>

        <div class="row text-center">
            <a href="https://shop.ledger.com/pages/ledger-nano-x?r=9f2c" title="Ledger Nano X - The secure hardware wallet" target="_blank"><img width=728 height=90 alt="Ledger Nano X - The secure hardware wallet" src="https://www.ledgerwallet.com/images/promo/banners/ledger_banner_7-2-8x9-0.jpg"></a>
        </div>

    </div>
</section>
