<section id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">How does Gunbot Work?</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-justify">
                <p>Imagine being able to trade 24/7 and having an Emotionless bot Executing your Strategy for you, and you can Start Getting Results within Minutes!</p>
                <p>That&#8217;s what Gunbot exactly does, execute your Orders without a second thought, tell it what to do, and fire it up, saving you time headaches and <strong>Making You Money</strong>.
                    Gunbot is great for any trader because it automates all the manual processes a seasoned crypto expert does manually.</p>
                <p>Gunbot is an <strong>Automated Trading System</strong> or a group of algorithmic trading sequences that utilize a computer program to create buy and sell orders and automatically trade for you on a cryptocurrency exchange via API Key implementation.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-3x fa-download wow bounceIn text-primary"></i>
                    <h4>Download & Run</h4>
                    <p class="text-muted text-justify">All you need to do is get your Exchange API key (that is also the license key), download <a href="https://github.com/GuntharDeNiro/BTCT/releases" rel="follow">Gunbot Standalone</a> and Run it!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fab fa-3x fa-docker wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h4>Docker Support</h4>
                    <p class="text-muted text-justify">Get <a href="https://github.com/magicdude4eva/docker-gunbot" rel="follow">Gunbot Docker Synology</a> to run on your Synology or any Docker Host!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-3x fa-tasks wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h4>Configure</h4>
                    <p class="text-muted text-justify">
                        Configure the Bot before you run it. Set the crypto-pair, amount you want to trade and the <a href="https://wiki.gunthy.org/how-to-work-with-gunbot/editing-strategies-and-pairs" rel="nofollow" title="Gunbot Wiki">Buy and Sell Strategy</a> and you are done.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-3x fa-piggy-bank wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h4>Trade</h4>
                    <p class="text-muted text-justify">All set-up? Great! Then let the money come to you !</p>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top:40px">
            <div class="col-lg-12 text-center">
                <p><a href="https://www.binance.com/en/register?ref=WXNEJLQB" title="Get 10% signup bonus for registering with Binance" rel="nofollow"><img src="/assets/img/binance_banner.png" style="width:70%" alt="Get 10% signup bonus for registering with Binance"></a>
                <br>🚀 <b>Get 10% kickback</b> ~ Signup to <a href="https://www.binance.com/en/register?ref=WXNEJLQB" title="Get 10% signup bonus for registering with Binance" rel="nofollow">Binance</a> or with the referral-code <a href="https://www.binance.com/en/register?ref=WXNEJLQB" rel="nofollow">WXNEJLQB</a> to earn 10% commission on all trades!</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-3x fa-tired wow bounceIn text-primary"></i>
                    <h4>Emotionless trading</h4>
                    <p class="text-muted text-justify">No more rule breaking with your trading strategy. Fear and Greed are in your control. Perform trades precisely without emotions affecting your judgment.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-3x fa-chess wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h4>Flexible Strategies</h4>
                    <p class="text-muted text-justify">Set your trading strategy and never miss out on Trading Opportunities. Make the most of your time and let Gunbot trade for you.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-3x fa-history wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h4>24/7 Trading</h4>
                    <p class="text-muted text-justify">
                        Configure the Bot before you run it. Set the crypto-pair, amount you want to trade and the <a href="https://wiki.gunthy.org/how-to-work-with-gunbot/editing-strategies-and-pairs" rel="nofollow" title="Gunbot Wiki">Buy and Sell Strategy</a> and you are done.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-3x fa-comments wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h4>Community Centered</h4>
                    <p class="text-muted text-justify">Once you are a Gunbot User, you will be included in an Elite Room where you could discuss strategies, events, and opportunities alike. We listen to your suggestions.</p>
                </div>
            </div>
        </div>


    </div>
</section>
