<footer class="footer bg-dark">
    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-6">
                    <img src="{{ site.baseurl }}/assets/img/logo.png" alt="GunBot">
                </div>
                <div class="col-lg-10 col-md-6">
                    Copyright © {{ 'now' | date: "%Y" }} Gunbot.at - Official Gunbot Reseller

                    <p style="font-size:11px;color:#d8d7d7;padding-top:10px;margin-bottom:0;padding-bottom:5px;">
            			Disclaimer: The information provided on this website does not constitute investment advice, financial advice, or any 
                        other kind of advice, and the content, products or services offered on the website should not be treated as such. 
                        Do conduct your own due diligence and consult your financial advisor before making any investment decision. Gunbot.at and it's owners
                        will not be held responsible for the investment decisions you make based on the information provided on this website, its telegram groups
                         or any other chat or social network that belongs to us.
            		</p>
                </div>
            </div>
        </div>
    </div>
</footer>