<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 style="color: #ffffff;">Gunbot. Community made crypto trading bot</h1>
            <hr>
            <p style="color: #ffffff;">Automate your trading to get better and more consistent results.<br>Get a life time license with free updates & awesome support.</p>
            <a href="#buynow" title="Get Gunbot license" class="btn btn-primary btn-xl page-scroll" style="--bg-opacity: 1;background-color: rgba(8,160,69,var(--bg-opacity));--text-opacity: 1;color: rgba(247,250,252,var(--text-opacity));">🚀 All time high deals</a>

            <p><img src="/assets/img/gunbot-exchanges.png" alt="Official Gunbot partners: Binance, Kucoin, Okex, HitBTC, Kraken Futures and more">
            </p>
        </div>
    </div>
</header>
