<section class="no-padding" id="usecases">
    <div class="container-fluid bg-dark">
        <div class="container text-center">
            <h2>Most Advanced Graphical webinterface on the market</h2>
        </div>
  
        <div class="container" style="margin-bottom:20px">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                  <div class="service-box">
                      <i class="fas fa-3x fa-award wow bounceIn text-primary"></i>
                      <h4>Innovative strategies</h4>
                      <p class="small text-justify">Choose from 15+ preset trading strategies with tested default settings. Using over 150 different parameters, you can customize every strategy to your trading style.</p>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 text-center">
                  <div class="service-box">
                      <i class="fas fa-3x fa-infinity wow bounceIn text-primary" data-wow-delay=".1s"></i>
                      <h4>Unlimited trading pairs</h4>
                      <p class="small text-justify">There are no limits to the amount of trading pairs Gunbot can actively trade. You decide if you want to trade just one or one hundred markets simultaneously.</p>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 text-center">
                  <div class="service-box">
                      <i class="fas fa-3x fa-route wow bounceIn text-primary" data-wow-delay=".2s"></i>
                      <h4>Additional trailing</h4>
                      <p class="small text-justify">
                        Use configurable price trailing options to get even better trades. This way trades are only placed when prices stopped moving in a certain direction.
                      </p>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 text-center">
                  <div class="service-box">
                      <i class="fas fa-3x fa-chart-line wow bounceIn text-primary" data-wow-delay=".3s"></i>
                      <h4>Confirming indicators</h4>
                      <p class="small text-justify">Use industry standard indicators to restrict trades to very specific market conditions. Choose between ADX, RSI, Stochastic, StochRSI, MFI, EMA, EMAspread & more!</p>
                  </div>
              </div>        
            </div>
        </div>
        
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#usecases" class="portfolio-box">
                    <img src="assets/img/gb-gif-install.gif" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Easy Install
                            </div>
                            <div class="project-category text-faded"">
                                Run on Docker, Raspberry, Linux, Windows, Mac<br>Configure via Web Interface
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#usecases" class="portfolio-box">
                    <img src="assets/img/gb-gif-stats.gif" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Detailed Trading Stats
                            </div>
                            <div class="project-category text-faded"">
                                Detailed Trading Stats and Profit and Loss Analysis
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#usecases" class="portfolio-box">
                    <img src="assets/img/gb-gif-web.gif" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Private webserver
                            </div>
                            <div class="project-category text-faded"">
                                Control all your trading via the private webserver
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="container" style="margin-bottom:20px">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box">
                  <i class="fas fa-3x fa-magic wow bounceIn text-primary"></i>
                  <h4>AutoConfig</h4>
                  <p class="small text-justify">Don't try to beat a dynamic market with a static strategy. Gunbot is the only trading bot that offers rule based, dynamic config changes. Use built-in filter rules or code your own.</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box">
                  <i class="fas fa-3x fa-chart-area wow bounceIn text-primary" data-wow-delay=".1s"></i>
                  <h4>Visual targets</h4>
                  <p class="small text-justify">Using the TradingView charting library the targets of a trading strategy are clearly visualized. This way you can easily tune your strategy without even leaving the chart.</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box">
                  <i class="fas fa-3x fa-history wow bounceIn text-primary" data-wow-delay=".2s"></i>
                  <h4>Reversal Trading</h4>
                  <p class="small text-justify">
                    Gunbot can automatically accumulate quote currency when prices move down, without investing more than the initial buy order. This feature is called reversal trading and can help bring down the break-even point for your investment.
                  </p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box">
                  <i class="fas fa-3x fa-graduation-cap wow bounceIn text-primary" data-wow-delay=".3s"></i>
                  <h4>Gunbot School</h4>
                  <p class="small text-justify">Once you bought your license, our trained traders will guide you through the Gunbot Basic Course, where you  will learn how to use Gunbot trading software to automate your trading strategies.</p>
              </div>
          </div>        
        </div>      
        </div>


    </div>
</section>
